# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll

# IDEs y editores
.vscode/
.idea/
*.swp

# Archivos ocultos o temporales
*.log
*.tmp
*.bak

# Bases de datos
db.sqlite3
*.db

# Entornos virtuales
venv/
.env
.env.*

# Archivos de configuración sensibles
*.cfg
*.ini

# Archivos de sistema
.DS_Store
Thumbs.db

# Carpeta de dependencias (si usas pipenv o poetry)
pipenv.lock
poetry.lock
